<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!--    <filter>
        <filter-name>TestFilter</filter-name>
        <filter-class>filter.TestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>InsertAccountController</servlet-name>
        <servlet-class>controller.InsertAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>controller.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionController</servlet-name>
        <servlet-class>controller.SearchQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateQuestionController</servlet-name>
        <servlet-class>controller.DeactivateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionController</servlet-name>
        <servlet-class>controller.EditQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubjectController</servlet-name>
        <servlet-class>controller.SearchSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizDetailController</servlet-name>
        <servlet-class>controller.LoadQuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizController</servlet-name>
        <servlet-class>controller.LoadQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizController</servlet-name>
        <servlet-class>controller.SubmitQuizController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAccountController</servlet-name>
        <url-pattern>/InsertAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionController</servlet-name>
        <url-pattern>/SearchQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateQuestionController</servlet-name>
        <url-pattern>/DeactivateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionController</servlet-name>
        <url-pattern>/EditQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubjectController</servlet-name>
        <url-pattern>/SearchSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizDetailController</servlet-name>
        <url-pattern>/LoadQuizDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizController</servlet-name>
        <url-pattern>/LoadQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizController</servlet-name>
        <url-pattern>/SubmitQuizController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
